NODE_ENV=development
VENDURE_PORT=3050
VENDURE_HOST=0.0.0.0
VENDURE_CHANNEL_TOKEN=ocdly-web
VENDURE_CORS_ORIGINS=http://localhost:3001
VENDURE_ASSET_URL=http://localhost:3050/assets/

DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=ocdly_commerce
DB_SCHEMA=public
DB_USERNAME=postgres
DB_PASSWORD=password
DB_SSL=false

SUPERADMIN_USERNAME=admin@ocdly.local
SUPERADMIN_PASSWORD=change-me-before-production
COOKIE_SECRET=change-this-cookie-secret-before-production-32-chars
